{% load i18n common_tags %}
<div ng-controller="AdminSurveysController" class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2><span class="icon-files-empty text-primary"></span>{% trans "Encuestas" %}</h2>
		</div> <!-- /.col-lg-12 -->
	</div> <!-- /.row -->

	<!--Show alerts in admin_surveys-->
	<div class="alert [[type]] alert-dismissible" ng-show="alertSurvey == true">
        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        [[messageAlert]]
    </div>

	<div class="row">
		<br>
		{% if request.user.is_staff %}
		<div class="col-xs-6 col-sm-4 col-md-3 text-center">
			<a href="" class="border-box-light" ng-click="openModalForm()">
				<div class="">
					<h4>{% trans "Crear encuesta" %}</h4>
					<span class="icon-plus"></span>
				</div>
			</a>
		</div> <!-- /.col-lg-12 -->
		{% endif %}
		<div ng-repeat="item in modelsSurveys">

			<div class="col-xs-6 col-sm-4 col-md-3 text-center">
				<div class="border-box-light">
					<!-- Start actions buttons -->
					<div class="actions">
						<a href="#!/survey_analyze" class="pull-left" data-toggle="tooltip" data-placement="top" title="{% trans 'Analizar' %}" tooltip> 
							<span class="icon-stats-bars"></span>
						</a>

						<a ng-show="item.status != 'Desactivada'" href="" class="pull-left" data-toggle="tooltip" data-placement="top" title="{% trans 'Compartir' %}" tooltip> 
							<span class="icon-share" ng-click="openModalFormShare(item)"></span>
						</a>

						<!-- Single button -->
						<div class="btn-group pull-right" data-toggle="tooltip" data-placement="top" title="{% trans 'Más' %}" tooltip>
						  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <img src="/static/scory_web_frontend/img/more-icon.svg">
						  </button>
						  <ul class="dropdown-menu">
						  	<li>
						    	<a href="" ng-click="openModalPreviewSurvey(item)">{% trans "Vista previa" %}</a>
						    </li>
						    <li ng-show="item.status == 'Desactivada'">
						    	<a href="" ng-click="openSurvey(item)">{% trans "Editar" %}</a>
						    </li>
						    <li>
						    	<a href="">{% trans "Duplicar" %}</a>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li>
						    	<a href="" ng-click="openMessageDeleteSurvey(item,$index)">{% trans "Eliminar" %}</a>
						    </li>
						  </ul>
						</div>
					</div>
					<!-- End actions buttons -->

					<div class="">
						<a href="" ng-click="openSurvey(item)" class="overflow-ellipsis card-title-hidden">
							<p class="m-a-0 overflow-ellipsis"> <strong> [[item.name]] </strong> </p>
						</a>
						<h2 class="m-a-0">[[item.count]]</h2>
						<small>{% trans "Encuestas realizadas" %}</small>
						<br>
						<small><span class="icon-office"></span> [[item.company.name]] </small>
						<br>
						<a href="">
							<span data-toggle="tooltip" data-placement="top" 
								  title="{% trans 'Pulse para activar/desactivar ' %} [[item.name]]"
								  ng-class="{true: 'label label-primary', false: 'label label-default'}[item.status == 'Activada']" 
								  ng-click="changeStatus(item,$index)" tooltip>
							[[item.status]]
							</span>
						</a>
					</div>
				</div>
			</div> <!-- /.col-lg-6 -->
		</div>
	</div> <!-- /.row -->
	<!-- Start modal preview survey -->
	<script type="text/ng-template" id="modalPreviewSurvey.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="new-survey">{% trans "Encuesta: " %}[[surveyName]]</h4>
		</div>
		<div class="modal-body row modal-scroll">
			<div class="col-md-12 scroll-modal-preview">    
			    <div class="fade" ng-repeat="item in models.lists.OptionQuestion">
					<div class="listQuestion margin-list">
						<!-- List Question Saved -->
						<div ng-hide="item.status != 'saved'" >
							<div class="alert [[type]] alert-dismissible" ng-show="alert == true && position == $index">
						        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
						            <span aria-hidden="true">&times;</span>
						        </button>
						        [[messageAlert]]
						    </div>
							<div class="q-box">
								<div class="position-number text-center">[[$index+1]]</div>
								<span ng-if="item.type.name == 'location'" class="icon-location2 text-primary"></span>
					         	<span ng-if="item.type.name == 'text'" class="icon-pencil2 text-primary"></span> 
					         	<span ng-if="item.type.name == 'multi_option'" class="icon-list2 text-primary"></span>
					         	[[item.type.label]]
								<h5> [[item.question_text]]</h5>
								<span ng-if="item.type.name == 'multi_option'" 
								 	  ng-repeat="itemOptionAnswer in item.optionsAnswer"
								 	  class="label label-outlined label-primary">
									<img ng-if="itemOptionAnswer.urlImg != ''" 
										 ng-src="[[itemOptionAnswer.urlImg]]" width="15">
									[[itemOptionAnswer.name]]</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</script>
</div> <!-- /.container-fluid -->


<!-- Start delete-survey -->
<script type="text/ng-template" id="messageDeleteSurvey.html">
    <div class="modal-header">
        <h4 class="modal-title text-danger">
        	{% trans "Eliminar encuesta: " %}[[survey.name]]
        </h4>
    </div>
    <div class="modal-body" id="modal-body" ng-bind="bodyMessage">
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="closeMessage()">
        	{% trans "Cancelar" %}
        </button>
        <button class="btn btn-default" type="button" ng-click="deleteSurvey(survey, index)">
        	{% trans "Si, eliminar encuesta" %}
        </button>
    </div>
</script>
<!-- End modal delete-survey -->