{% load i18n common_tags %}
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h2><span class="icon-stats-dots text-primary"></span> {% trans "Dashboard" %}</h2>
		</div> <!-- /.col-lg-12 -->
	</div> <!-- /.row -->
</div> <!-- /.container-fluid -->