{% load i18n static common_tags %}

<!-- Start Survey left sidebar navbar -->
<div ng-include="'includes/survey_left_sidebar'"></div>
<!-- End Survey left sidebar navbar -->

<div ng-init="load()" class="right-box pull-left">
	<div class="alert [[type]] alert-dismissible" ng-show="alertSurvey == true">
        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
            <span aria-hidden="true">&times;</span>
        </button>
        <p ng-bind-html="messageAlert"></p>
    </div>

    <!-- Start Basic info of created survey -->
	<div class="col-md-12">
		<h3 class="m-a-0">[[surveyName]]</h3>
		<p>{% trans "Creada el" %}: [[surveyCreatedAt | convertToDate | date:'dd/MM/yyyy hh:mm:ss']]  y modificada el [[surveyUpdatedAt | convertToDate | date:'dd/MM/yyyy hh:mm:ss']]</p>
		<hr>
	</div>	
	<!-- End Basic info of created survey  -->

	<!--  StartNav tabs -->
	<ul class="nav nav-tabs theme-nav-tabs" role="tablist">
		<li class="active"><a href="" data-target="#principal" role="tab" data-toggle="tab">{% trans "Principal" %}</a></li>
		<li><a href="" ng-click="jumpers()" data-target="#saltos-de-pregunta" role="tab" data-toggle="tab">{% trans "Saltos de pregunta" %}</a></li>
	</ul>
	<!-- End Nav tabs -->

	<!-- Start Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="principal">
			<!-- div alert -->
			<div class="col-md-12 padding-start"><div class="alert [[type]] alert-dismissible" ng-show="alertMessageStart == true">
		        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
		            <span aria-hidden="true">&times;</span>
		        </button>
		        [[messageAlert]]
		    </div></div>
			<!-- Start Block initial message | Preview -->
			<div ng-show="!editMessageStart"  class="col-md-12 padding-start">
				<div class="q-box survey-box-messages">
					<!-- Start actions buttons -->
					<div class="actions cursor">
						<a ng-click="editMessage('start')" data-toggle="tooltip" 
						   data-placement="top" title="{% trans 'Editar' %}" tooltip> 
							<span class="icon-pencil"></span>
						</a>
					</div>
					<!-- End actions buttons -->
					<strong>{% trans "Mensaje inicial" %}</strong>
					<h5>[[ survey.start_message ]]</h5>
				</div>	
			</div>	
			<!-- End Block initial message | Preview -->

			<!-- Start Block initial message | Edit -->
			<div ng-show="editMessageStart" class="col-md-12 padding-start">
				<div class="q-box survey-box-messages">
					<strong>{% trans "Mensaje inicial" %}</strong>
					<hr>
					<div class="form-group">
						<label>*{% trans "Mensaje" %}</label>
						<textarea class="form-control" ng-model="survey.start_message" rows="2" placeholder="{% trans 'Ej: Bienvenido a nuestra encuesta' %}..."></textarea>
					</div>
					<hr>
					<button ng-click="cancelMessage('start')" type="button" class="btn btn-default">{% trans "Cancelar" %}</button>
					<button type="button" ng-click="saveMessage(survey, 'start')" class="btn btn-primary">{% trans "Guardar" %}</button>
				</div>	
			</div>	
			<!-- End Block initial message | Edit -->

			<!-- Start Block option-question saved --> 
			<div class="col-md-12">    
			    <div class="div-drop" dnd-list="models.lists.OptionQuestion" 
			         dnd-allowed-types="['itemA','itemC']" 
			         dnd-inserted="logListEvent('droped at', index, external, type)" 
			         dnd-disable-if="optionQuestionOpen()">
				    <div class="fade" ng-repeat="item in models.lists.OptionQuestion"
				         dnd-draggable="item"
				         dnd-type="'itemC'"
				         dnd-effect-allowed="all"
				         dnd-moved="models.lists.OptionQuestion.splice($index, 1)"
		                 dnd-dragend="onDragEnd(event, dropEffect, item)" 
		                 dnd-disable-if="item.status != 'saved'">

						<div class="listQuestion">
							<!-- List Question Saved -->
							<div ng-hide="item.status != 'saved'" >
								<div class="alert [[type]] alert-dismissible" 
								      ng-show="alert == true && position == $index">
							        <button type="button" class="close"  aria-label="Close" 
							                 ng-click="dismissAlert()">
							            <span aria-hidden="true">&times;</span>
							        </button>
							        [[messageAlert]]
							    </div>
								<div class="q-box cursor-move">
									<div class="position-number text-center">[[$index+1]]</div>
									<!-- Start actions buttons -->
									<div class="actions position-actions text-center">
										<a ng-click="editItem($index)" data-toggle="tooltip" data-placement="top" title="{% trans 'Editar' %}" tooltip> 
											<span class="icon-pencil"></span>
										</a>

										<a ng-click="duplicateItem($index)" data-toggle="tooltip" 
										   data-placement="top" title="{% trans 'Duplicar' %}" tooltip> 
											<span class="icon-files-empty"></span>
										</a>

										<a ng-click="removeItem(item, $index)" data-toggle="tooltip" 
										    data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
											<span class="icon-bin text-danger"></span>
										</a>
									</div>
									<!-- End actions buttons -->
									<span ng-if="item.type.name == 'location'" class="icon-location2 text-primary"></span>
						         	<span ng-if="item.type.name == 'text'" class="icon-pencil2 text-primary"></span> 
						         	<span ng-if="item.type.name == 'multi_option'" class="icon-list2 text-primary"></span>
						         	<strong>[[item.type.label]]</strong>
									<h5> [[item.question_text]]</h5>
									<span ng-if="item.type.name == 'multi_option'" 
									 	  ng-repeat="itemOptionAnswer in item.optionsAnswer"
									 	  class="label label-outlined label-primary" 
									      data-toggle="tooltip" data-placement="top" 
									      ng-attr-title="{% trans 'Salta a' %}: [[itemOptionAnswer.triggerQuestion.question_text]]" tooltip>
										<img ng-if="itemOptionAnswer.urlImg != ''" 
											 ng-src="[[itemOptionAnswer.urlImg]]" width="15">
										[[itemOptionAnswer.name]] 
										<span ng-if="itemOptionAnswer.triggerQuestion" class="icon-forward"></span>
									</span>
								</div>
							</div>
							
							<!-- Forms Question Not Saved -->
							<div ng-if="item.type.name == 'multi_option' && item.status != 'saved'" >
								<div class="q-box cursor-move">
										<!-- Start actions buttons -->
										<div ng-if= "item.status == 'updating'" class="actions position-actions text-center">
											<a ng-click="removeItem(item, $index)" data-toggle="tooltip" data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
												<span class="icon-bin text-danger"></span>
											</a>
										</div>
										<!-- End actions buttons -->
										<div class="position-number text-center">[[$index+1]]</div>
										<span class="icon-list2 text-primary"></span> 
										<strong>[[item.type.label]]</strong>
										<hr>
										<div class="form-group">
											<label>*{% trans "Pregunta" %}</label>
											<input type="text" ng-model="models.lists.OptionQuestion[$index].question_text" class="form-control" placeholder="Ej: ¿Te agradó el servicio?">
										</div>
										<div ng-repeat="itemOptionAnswer in models.lists.OptionAnswers">
											<div ng-show="$index==0">
												<div class="row cursor-move option-answer">
													<div class="col-sm-6">
														<small class="margin-emoji">
															<label>   {% trans "Emoji y opcion" %}</label>
														</small>
													</div>
													<div class="col-sm-4">
														<small>
															<span class="icon-info text-primary" 
																   data-toggle="tooltip" data-placement="top" 
																   title="{% trans 'Pregunta a la cual saltará la encuesta, ante la respuesta actual.' %}" tooltip></span>
															<label>{% trans "Salto de pregunta" %}</label>
														</small>
													</div>
												</div>
											</div>

											<div class="row cursor-move option-answer">
												<div class="col-sm-6">
													<h4 class="text-primary pull-left position-letter">[[$index+1]]</h4>
													<br>
													<div class="col-sm-1">
														<span class="input-group-btn">
															<img ng-src="[[itemOptionAnswer.urlImg]]" width="20">
														</span>
													</div>
													[[itemOptionAnswer.name]]
													
												</div>

												<div class="col-sm-4">
													<br>
													[[itemOptionAnswer.triggerQuestion.question_text]]
												</div>

												<div class="col-sm-1 delete-option-answer">
								 					<a href="" ng-click="deleteOptionAnswer($index)" 
								 					   class="text-danger delete-button" data-toggle="tooltip" data-placement="top" title="{% trans 'Eliminar' %}" tooltip>
								 						<span class="icon-cancel-circle"></span>
								 					</a>
								 				</div>
											</div>
										</div>

										<div ng-repeat="itemOptionAnswer in models.lists.OptionAnswersNew">
											<div ng-show="$index==0">
												<hr>
												<label>*{% trans "Respuestas nuevas" %}</label>
											</div>
											<div class="row cursor-move option-answer">
												<div class="col-sm-6">
													<small>{% trans "Emoji y opción" %}</small>
													<br>
													<div class="input-group">
														<span class="input-group-btn">
															<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<img ng-src="[[itemOptionAnswer.urlImg]]" width="20"> <span class="caret"></span>
															</button>
															<ul class="dropdown-menu emoji-dropdown">
																<li ng-repeat="itemEmoji in models.lists.Emojis">
																	<a href="" ng-click="setPathEmoji(itemOptionAnswer, itemEmoji.pathImg)" 
																	data-toggle="tooltip" data-placement="top" 
																	title="[[itemEmoji.tittle]]" tooltip>
																		<img ng-src="[[itemEmoji.pathImg]]" width="20">
																	</a>
																</li>
														  	</ul>
														</span>
														<div angucomplete-alt
															  placeholder="{% trans 'Buscar opción' %}"
															  pause="300"
															  local-data="models.lists.OptionAnswersToComplete"
															  search-fields="name"
															  title-field="name"
															  minlength="1"
															  input-class="form-control form-control-small"
															  match-class="highlight"
															  ng-model="itemOptionAnswer.answerSelected">
														</div>
													</div>
													
												</div>

												<div class="col-sm-4">
													<small>
														<span class="icon-info text-primary" data-toggle="tooltip" data-placement="top" title="{% trans 'Pregunta a la cual saltará la encuesta, ante la respuesta actual.' %}" tooltip></span>{% trans "Salto de pregunta" %}
													</small>
													<br>
													<div angucomplete-alt
														  placeholder="{% trans 'Buscar salto de pregunta' %}"
														  pause="300"
														  local-data="models.lists.OptionQuestionTrigger"
														  search-fields="question_text"
														  title-field="question_text"
														  minlength="1"
														  input-class="form-control form-control-small"
														  match-class="highlight"
														  ng-model="itemOptionAnswer.triggerQuestionSelected">
													</div>
												</div>

												<div class="col-sm-1 delete-option-answer">
								 					<a href="" ng-click="deleteOptionAnswerNew($index)" 
								 					   class="text-danger delete-button" data-toggle="tooltip" data-placement="top" title="{% trans 'Eliminar' %}" tooltip>
								 						<span class="icon-cancel-circle"></span>
								 					</a>
								 				</div>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12">
												<a href="" ng-click="addOptionAnswer()" class="text-primary"><span class="icon-plus"></span>{% trans "Añadir otra opción" %}</a>
											</div>
										</div>	
										<hr>
										<!-- div alert -->
										<div class="alert [[type]] alert-dismissible" ng-show="alert == true">
									        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
									            <span aria-hidden="true">&times;</span>
									        </button>
									        [[messageAlert]]
									    </div>
										<button type="button" ng-click="cancelItem($index)" class="btn btn-default">{% trans "Cancelar" %}</button>
										<button type="button" ng-click="saveOptionQuestion(item, $index)" class="btn btn-primary">{% trans "Guardar" %}</button>
								</div>	
							</div>

					        <div ng-if="item.type.name == 'location' && item.status != 'saved'">
					        	
								<div class="q-box cursor-move">
									<!-- Start actions buttons -->
									<div ng-if= "item.status == 'updating'"  class="actions position-actions text-center">
										<a ng-click="removeItem(item, $index)" data-toggle="tooltip" 
										   data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
											<span class="icon-bin text-danger"></span>
										</a>
									</div>
									<!-- End actions buttons -->
									<div class="position-number text-center">[[$index+1]]</div>
									<span class="icon-location2  text-primary"></span>
									<strong>[[item.type.label]]</strong>
									<hr>
									<div class="form-group">
										<label>*{% trans "Pregunta" %}</label>
										<input type="text" ng-model="models.lists.OptionQuestion[$index].question_text" class="form-control" placeholder="Ej: ¿Me envías tu ubicación?">
									</div>
									<hr>
									<!-- div alert -->
									<div class="alert [[type]] alert-dismissible" ng-show="alert == true">
								        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
								            <span aria-hidden="true">&times;</span>
								        </button>
								        [[messageAlert]]
								    </div>
									<button type="button" ng-click="cancelItem($index)" class="btn btn-default">{% trans "Cancelar" %}</button>
									<button type="button" ng-click="saveOptionQuestion(item, $index)" class="btn btn-primary">{% trans "Guardar" %}</button>
								</div>
					        </div>

					        <div ng-if="item.type.name == 'text' && item.status != 'saved'">
								<div class="q-box cursor-move">
									<!-- Start actions buttons -->
									<div ng-if= "item.status == 'updating'" class="actions position-actions text-center">
										<a ng-click="removeItem(item, $index)" data-toggle="tooltip" 
										   data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
											<span class="icon-bin text-danger"></span>
										</a>
									</div>
									<!-- End actions buttons -->
									<div class="position-number text-center">[[$index+1]]</div>
									<span class="icon-pencil2 text-primary"></span> 
									<strong>[[item.type.label]]</strong>
									<hr>
									<div class="form-group">
										<label>*{% trans "Pregunta" %}</label>
										<input type="text" ng-model="models.lists.OptionQuestion[$index].question_text" class="form-control" placeholder="Ej: ¿Tienes comentarios que añadir?">
									</div>
									<hr>
									<!-- div alert -->
									<div class="alert [[type]] alert-dismissible" ng-show="alert == true">
								        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
								            <span aria-hidden="true">&times;</span>
								        </button>
								        [[messageAlert]]
								    </div>
									<button type="button" ng-click="cancelItem($index)" class="btn btn-default">{% trans "Cancelar" %}</button>
									<button type="button" ng-click="saveOptionQuestion(item, $index)" class="btn btn-primary">{% trans "Guardar" %}</button>
								</div>	
					        </div>
						</div>
					</div>

					<!-- div alert -->
					<div class="col-md-12 alert [[type]] alert-dismissible" ng-show="alertMessageEnd == true">
				        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
				            <span aria-hidden="true">&times;</span>
				        </button>
				        [[messageAlert]]
				    </div>
					<!-- Start Block final message | Preview -->
					<div ng-show="!editMessageEnd" class="col-md-12 q-box survey-box-messages">
						<!-- Start actions buttons -->
						<div class="actions cursor">
							<a ng-click="editMessage('end')" data-toggle="tooltip" 
							   data-placement="top" title="{% trans 'Editar' %}" tooltip> 
								<span class="icon-pencil"></span>
							</a>
						</div>
						<!-- End actions buttons -->
						<strong>{% trans "Mensaje final" %}</strong>
						<h5>[[ survey.end_message ]]</h5>
					</div>	
					<!-- End Block final message | Preview -->

					<!-- Start Block final message | Edit -->
					<div ng-show="editMessageEnd" class="col-md-12 q-box survey-box-messages">
						<strong>{% trans "Mensaje final" %}</strong>
						<hr>
						<div class="form-group">
							<label>*{% trans "Mensaje" %}</label>
							<textarea ng-model="survey.end_message" class="form-control" rows="2" placeholder="{% trans 'Ej: Gracias por participar en nuestra encuesta...' %}"></textarea>
						</div>
						<hr>
						<button ng-click="cancelMessage('end')" type="button" class="btn btn-default">{% trans "Cancelar" %}</button>
						<button type="button" ng-click="saveMessage(survey, 'end')" class="btn btn-primary">{% trans "Guardar" %}</button>
					</div>
					<!-- End Block final message | Edit -->
				</div>
			</div>
			<!-- End Block option-question saved -->
		</div>

		<div role="tabpanel" class="tab-pane" id="saltos-de-pregunta">
			<!-- List Option Question Trigger -->
			<div ng-include="'survey_jump'"></div>
		</div>
	</div>
	<!-- End Tab panes -->

	<!-- Start bottom actions bar -->
	<div class="bottom-survey-box">
		<!-- Remove "disabled" into the button when user save the first question -->
		<button type="button" class="btn btn-primary pull-right m-l-10"
				ng-disabled="survey.status == 'Activada'" 
				ng-click="changeStatus()">
			<span class="icon-bullhorn"></span>{% trans "Publicar" %}
		</button>
		<!-- Remove "disabled" into the button when user publish the survey -->
		<button type="button" class="btn btn-primary pull-right m-l-10" 
				ng-disabled="survey.status == 'Desactivada'" ng-click="openModalFormShare(survey)">
			<span class="icon-share"></span>{% trans "Compartir" %}
		</button>
	</div>
	<!-- End bottom actions bar -->	

</div>