{% load i18n static common_tags %}

<!-- Start Survey left sidebar navbar general -->
<div ng-include="'includes/survey_left_general'"></div>
<!-- End Survey left sidebar navbar general-->

<div ng-controller="ConfigSurveyController" ng-init="load()" class="right-box pull-left">

	<!-- Start Block option-question saved --> 
	<div class="col-md-12">
		<br>
		<!-- div alert -->
		<div class="alert [[type]] alert-dismissible" ng-show="alert == true">
	        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
	            <span aria-hidden="true">&times;</span>
	        </button>
	        [[messageAlert]]
	    </div>
		<div class="col-md-8">
			<div class="form-group">
				<label>*{% trans "Nombre" %}</label>
				<input ng-model="survey.name" name="sName" type="text" class="form-control" placeholder="Ej: Servicio al cliente" required>
			</div>
		</div>	

		<div class="col-md-8">
			<div class="form-group">
				<label>*{% trans "Compañia" %}</label>
				  {% if request.user.is_staff %}
				  <select ng-model="selectedOption"  name="sCompany" class="form-control"
				  		  ng-options="company.name for company in models.lists.Companies track by company.id"
				  		  required>
				  		<option value="">{% trans "Seleccione" %}</option>
				  </select>
				  {% endif %}
				  {% if not request.user.is_staff %}
				  <select disabled ng-model="selectedOption"  name="sCompany" class="form-control"
				  		  ng-options="company.name for company in models.lists.Companies track by company.id"
				  		  required>
				  		<option value="">{% trans "Seleccione" %}</option>
				  </select>
				  {% endif %}
			</div>
		</div>

		<div class="col-md-8">
			<div class="form-group">
				<label>{% trans "Tiempo de expiración" %}</label>
				<div class="col-md-1">
					<input type="checkbox" ng-model="survey.required_time_expired" class="form-control" name="sRequiredTime"> </input>
				</div>
			</div>
		</div>

		<div class="col-md-8" ng-show="survey.required_time_expired" >
			<div class="form-group">
				<label>{% trans "Tiempo de expiración en minutos" %}</label>
				<input type="number" ng-model="survey.time_expired_minutes" name="sTimeExpired" class="form-control" rows="5" placeholder="5" required min="1"></input>
			</div>
		</div>

		<div class="col-md-8">
			<br><br>
			<button type="submit" class="btn btn-primary" ng-click="submit(survey);submitted=true">{% trans "Guardar" %}</button>
		</div>
	</div>
</div>