{% load i18n common_tags %}
<!-- Start Block option-question saved --> 
<div class="col-md-12">    
    <div class="div-drop" dnd-list="models.lists.OptionQuestionTrigger" 
         dnd-allowed-types="['itemA','itemC']">
	    <div class="fadeTrigger" ng-repeat="item in models.lists.OptionQuestionTrigger"
	         dnd-draggable="item"
	         dnd-type="'itemC'"
	         dnd-effect-allowed="all"
	         dnd-moved="models.lists.OptionQuestionTrigger.splice($index, 1)"
             dnd-disable-if="item.status != 'saved'">

			<div class="listQuestion">
				<!-- List Question Saved -->
				<div ng-hide="item.status != 'saved'" >
					<div class="alert [[type]] alert-dismissible" 
					      ng-show="alert == true && position == $index">
				        <button type="button" class="close"  aria-label="Close" 
				                 ng-click="dismissAlert()">
				            <span aria-hidden="true">&times;</span>
				        </button>
				        [[messageAlert]]
				    </div>
					<div class="q-box cursor-move">
						<div class="position-number text-center">[[$index+1]]</div>
						<!-- Start actions buttons -->
						<div class="actions position-actions text-center">
							<a ng-click="editItemTrigger($index)" data-toggle="tooltip" data-placement="top" title="{% trans 'Editar' %}" tooltip> 
								<span class="icon-pencil"></span>
							</a>

							<a ng-click="duplicateItem($index)" data-toggle="tooltip" 
							   data-placement="top" title="{% trans 'Duplicar' %}" tooltip> 
								<span class="icon-files-empty"></span>
							</a>

							<a ng-click="removeItemTrigger(item, $index)" data-toggle="tooltip" 
							    data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
								<span class="icon-bin text-danger"></span>
							</a>
						</div>
						<!-- End actions buttons -->
						<span ng-if="item.type.name == 'location'" class="icon-location2 text-primary"></span>
			         	<span ng-if="item.type.name == 'text'" class="icon-pencil2 text-primary"></span> 
			         	<span ng-if="item.type.name == 'multi_option'" class="icon-list2 text-primary"></span>
			         	<strong>[[item.type.label]]</strong>
						<h5> [[item.question_text]]</h5>
						<span class="label label-outlined label-primary">{% trans "Viene de" %}: 
							<span class="icon-forward" ng-repeat="origin in item.origins">[[origin]]</span>
						</span>
					</div>
				</div>
				
		        <div ng-if="item.type.name == 'text' && item.status != 'saved'">
					<div class="q-box cursor-move">
						<!-- Start actions buttons -->
						<div ng-if= "item.status == 'updating'" class="actions position-actions text-center">
							<a ng-click="removeItem(item, $index)" data-toggle="tooltip" 
							   data-placement="top" title="{% trans 'Eliminar' %}" tooltip> 
								<span class="icon-bin text-danger"></span>
							</a>
						</div>
						<!-- End actions buttons -->
						<div class="position-number text-center">[[$index+1]]</div>
						<span class="icon-pencil2 text-primary"></span> 
						<strong>[[item.type.label]]</strong>
						<hr>
						<div class="form-group">
							<label>*{% trans "Pregunta" %}</label>
							<input type="text" ng-model="models.lists.OptionQuestionTrigger[$index].question_text" class="form-control" placeholder="Ej: ¿Tienes comentarios que añadir?">
						</div>
						<hr>
						<!-- div alert -->
						<div class="alert [[type]] alert-dismissible" ng-show="alert == true">
					        <button type="button" class="close"  aria-label="Close" ng-click="dismissAlert()">
					            <span aria-hidden="true">&times;</span>
					        </button>
					        [[messageAlert]]
					    </div>
						<button type="button" ng-click="cancelItemTrigger($index)" class="btn btn-default">{% trans "Cancelar" %}</button>
						<button type="button" ng-click="saveOptionQuestionTrigger(item, $index)" class="btn btn-primary">{% trans "Guardar" %}</button>
					</div>	
		        </div>
			</div>
		</div>
		<div class="list-margin-bottom"></div>
	</div>
</div>
<!-- End Block option-question saved -->