{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Google Maps Geocodificación simple">
    <title>Cordinates with Google Maps</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDygoQjXxFaMjVDUKClTLFX2779Xw0yrY&result_type=street_address&amp;language=es"></script>
    <script src="{% static "js/jquery-1.11.0.min.js" %}"></script>
    <script src="{% static "js/google_maps.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/google_maps.css" %}">
  </head>
  <body>
    <section id="texto">
      <h3>Company Location</h3>
      <p>
        Enter the address of the company <br>
        Example : Movistar Arena Chile
      </p>
      <input id="address" type="textbox" size="45" maxlength="80" placeholder="Enter address company" />
      <input id="id_button_find" type="button" class="button_find" style=";" value="Find with Google Maps" onclick="codeAddress()">
      <br> <br>

      
      <div id="id_div_result_search" hidden>
        <br><br>
        <h3>Result</h3>
        Latitude: <span id="id_lat"></span><br><br>
        Longitude: <span id="id_lng"></span><br><br>
        Full address:<br><span id="id_direccion" name="full_address"></span><br><br>
        <input id="id_save_result" type="button" class="button_save" value="Save Result"/>
      </div>
    </section>
    <div id="mapa"></div>
  </body>
</html>