<!DOCTYPE html>
<html lang="en" ng-app="myapp" >
	{% load i18n static common_tags %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="">
		<link rel="apple-touch-icon" href="">
		<title>Scory</title>
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- google site verification for gsuite -->
		<meta name="google-site-verification" content="2ZjWxbZ0NFJRFSJkQNT4NPsJZNFRGEoL19jMGcT2BEM" />
		<!-- Bootstrap and Custom styles -->
		<link href="{% static 'scory_web/css/app.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<link href="{% static 'scory_web/css/form_contact.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-98739367-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

	<body ng-controller="ContactController" >
		<header>
			<nav class="navbar navbar-inverse navbar-home">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="http://www.scorybot.com">
							<img alt="Scory" title="Scory" src="{% static 'scory_web/img/scory-brand.svg' %}">
						</a>
					</div>

					<div class="collapse navbar-collapse text-center-xs" id="main-navbar">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<button class="btn btn-default navbar-btn b-r-lg" ng-click="redirect()">{% trans "Iniciar Sesión" %}</button>
							</li>
							<li>
								<button class="btn btn-default navbar-btn b-r-lg" ng-click="openModalForm()">{% trans "Contacto" %}</button>
							</li>
						</ul>
					</div>

				</div>
			</nav>

			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 text-center sc-header">
						<h1 class="m-t-100">{% trans "Obtén feedback al instante en tu local comercial." %}</h1>
						<p>{% trans "Recopila respuestas de tu audiencia a través de Facebook messenger." %}</p>
						<br>
							<button class="btn btn-info btn-lg box-shadow-primary border-0 b-r-lg" ng-click="openModalForm()">{% trans "Comunícate con nosotros" %}</button>
						<br>
						<img src="{% static 'scory_web/img/iphone-scory.png' %}" width="431" class="img-responsive element-center image--front">
					</div>
				</div>
			</div>
		</header>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<img src="{% static 'scory_web/img/icn-analytic.svg' %}">
					<h2>{% trans "Analiza en tiempo real todas las encuestas realizadas por tu audiencia." %}</h2>
					<br><br>
					<div class="b-r-md box-shadow-primary-lg image--front overflow-hidden">
						<img src="{% static 'scory_web/img/screen-dashboard.jpg' %}" width="1000" class="img-responsive element-center">
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid m-t-173" style="position: relative;">
			<!-- Hide viewport 991px -->
			<div class="home-box-float-right-left-image hide-991">
				<div class="b-r-md box-shadow-primary-lg home-float-right-image image--front">
					<img src="{% static 'scory_web/img/screen-survey.jpg' %}" width="1000" class="img-responsive">
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 text-center">
					<br><br>
					<img src="{% static 'scory_web/img/icn-check.svg' %}">
					<h2>{% trans "Crea encuestas como quieras fácilmente." %}</h2>
					<p class="f-18">{% trans "Crea encuestas para interactuar con tu audiencia a través de Facebook Messenger." %}</p>
					<!-- Display viewport 991px -->
					<div class="b-r-md box-shadow-primary-lg overflow-hidden image--front display-991">
						<img src="{% static 'scory_web/img/screen-survey.jpg' %}" width="1000" class="img-responsive">
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid m-t-373" style="position: relative;">
			<!-- Hide viewport 991px -->
			<div class="home-box-float-right-left-image hide-991">
				<div class="b-r-md box-shadow-primary-lg home-float-left-image image--front">
					<img src="{% static 'scory_web/img/screen-reports.jpg' %}" width="1000" class="img-responsive">
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 col-md-offset-7 text-center">
					<br><br>
					<img src="{% static 'scory_web/img/icn-doc.svg' %}">
					<h2>{% trans "Analiza cada encuesta con reportes detallados." %}</h2>
					<p class="f-18">{% trans "Obtén toda la información que necesitas para tomar mejores acciones en tu negocio." %}</p>
					<!-- Display viewport 991px -->
					<div class="b-r-md box-shadow-primary-lg overflow-hidden image--front display-991">
						<img src="{% static 'scory_web/img/screen-reports.jpg' %}" width="1000" class="img-responsive">
					</div>
				</div>
			</div>
		</div>

		<div class="home-cta">
			<div class="container-fluid m-t-373" style="position: relative;">
				<!-- Hide viewport 991px -->
				<div class="home-box-float-right-left-image-secondary image--front hide-991">
					<div class="b-r-md box-shadow-primary-lg home-float-left-image-secondary">
						<img src="{% static 'scory_web/img/people-in-restaurant.jpg' %}" width="1000" class="img-responsive">
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 col-md-offset-6 text-center-sm">
						<br>
						<br>
						<div class="row">
							<div class="col-md-3">
								<br>
								<img src="{% static 'scory_web/img/icn-star.svg' %}">
							</div>

							<div class="col-md-9">
								<h3>{% trans "Recibe" %}</h3>
								<p>
									{% trans "Reacción honesta." %}<br>
									{% trans "Dinámica emocional." %}
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<br>
								<img src="{% static 'scory_web/img/icn-like.svg' %}">
							</div>

							<div class="col-md-9">
								<h3>{% trans "Incrementa" %}</h3>
								<p>
									{% trans "Motivación y creatividad." %}<br>
									{% trans "Apego emocional." %}
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-3">
								<br>
								<img src="{% static 'scory_web/img/icn-chart.svg' %}">
							</div>

							<div class="col-md-9">
								<h3>{% trans "Disminuye" %}</h3>
								<p>
									{% trans "Reacciones excesivas de los usuarios." %}<br>
									{% trans "Límites de edad e idioma." %}
								</p>
							</div>
						</div>

						
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>

		<footer class="footer-home">
			<div class="container-fluid">
				<div class="footer-brand element-center">
					<a href="http://www.scorybot.com">
						<img src="{% static 'scory_web/img/isotype-scory.svg' %}">
					</a>
				</div>

				<br>

				<ul>
					<!--<li>
						<a href="#">{% trans "Características" %}</a>
					</li>

					<li>
						<a href="#">{% trans "Precio" %}</a>
					</li>-->

					<li>
						<a href="#">{% trans "Soporte" %}</a>
					</li>

					<li>
						<a href="#">{% trans "Política de privacidad" %}</a>
					</li>

					<li>
						<a href="" ng-click="openModalForm()">{% trans "Contacto" %}</a>
					</li>
				</ul>

				<br>

				<div class="footer-social text-center">
					<a href="https://twitter.com/scorybot" target="_blank">
						<img src="{% static 'scory_web/img/icn-twitter.svg' %}">
					</a>

					<a href="https://www.facebook.com/scorybot/" target="_blank">
						<img src="{% static 'scory_web/img/icn-facebook.svg' %}">
					</a>

					<a href="https://www.instagram.com/scorybot/" target="_blank">
						<img src="{% static 'scory_web/img/icn-instagram.svg' %}">
					</a>

					<br> <br>

					<small>Scory © 2019 {% trans "Todos los derechos reservados" %}</small>
				</div>
			</div>
		</footer>

		<!-- Modal contact -->
		<script type="text/ng-template" id="modalForm.html">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">{% trans "Contáctanos" %}</h4>
			</div>

			<div class="modal-body row">	
				<form name="formContact" id="id-form" novalidate>
						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group">
									<label>*{% trans "Nombre" %}</label>
									<input ng-model="contact.name" name="cName" type="text" class="form-control" placeholder="Nombre" required/>
								</div>
								<div ng-show="submitted || formContact.cName.$touched">
							    	<p class="message-error" ng-show="formContact.cName.$error.required">{% trans "Introduzca su nombre." %}</p>
						    	</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>*{% trans "Email" %}</label>
									<input ng-model="contact.mail" name="cMail" type="email" class="form-control" placeholder="Email" required>
								</div>
								<div ng-show="submitted || formContact.cMail.$touched">
							      <p class="message-error" ng-show="formContact.cMail.$error.required">{% trans "Introduzca su email." %}</p>
							      <p class="message-error" ng-show="formContact.cMail.$error.email">{% trans "Formato de email no válido." %}</p>
							    </div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-6">
								<div class="form-group">
									<label>*{% trans "Teléfono" %}</label>
									<input ng-model="contact.phone" name="cPhone" type="number" class="form-control" placeholder="Teléfono" required>
								</div>
								<div ng-show="submitted || formContact.cPhone.$touched">
							    	<p class="message-error" ng-show="formContact.cPhone.$error.required">{% trans "Introduzca su telefono" %}</p>
						    	</div>
							</div>

							<div class="col-md-6">
								<div class="form-group">
									<label>{% trans "Empresa" %}</label>
									<input ng-model="contact.company" name="cCompany" type="text" class="form-control" placeholder="Empresa">
								</div>
							</div>
						</div>

						<div class="col-md-12">
							<div class="col-md-12">
								<div class="form-group">
									<label>{% trans "Mensaje" %}</label>
									<textarea ng-model="contact.message" name="cMessage" class="form-control" rows="5"></textarea>
								</div>
							</div>
						</div>
					
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="closeModal()">{% trans "Cerrar" %}</button>
						<button type="submit" class="btn btn-primary" ng-click="submit(contact);submitted=true">{% trans "Enviar" %}</button>
					</div>
				</form>
			</div>
		</script>

		<script type="text/ng-template" id="message.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title" ng-bind="titleMessage"></h3>
            </div>
            <div class="modal-body" id="modal-body" ng-bind="bodyMessage">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="closeMessage()">{% trans "Cerrar" %}</button>
            </div>
        </script>

		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'scory_web/js/jquery.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular -->
		<script src="{% static 'scory_web_frontend/js/angular.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web/js/ui-bootstrap-tpls-2.5.0.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Bootstrap -->
		<script src="{% static 'scory_web/js/bootstrap.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular Route -->
		<script src="{% static 'scory_web_frontend/js/angular-route.js' %}?ver={% get_version_identifier %}"></script>
		<!--Form Contact-->
		<script type="text/javascript" src="{% static 'scory_web/js/form_contact.js' %}?ver={% get_version_identifier %}"></script>
		

		<!-- Scroll float images -->
		<script>
    		const imageFronts = Array.from(document.querySelectorAll('.image--front'))
        		.map(wrapElement);
    		const imageBacks = Array.from(document.querySelectorAll('.image--back'))
       			 .map(wrapElement);

		    imageBacks.shift();

		    document.addEventListener('scroll', function () {
		        requestAnimationFrame(animate);
		    });

		    animate();

		    function wrapElement(elt) {
		        var clientRect = elt.getBoundingClientRect();
		        return {
		            element: elt,
		            yCenter: clientRect.top + (clientRect.top-clientRect.bottom)/2 + window.pageYOffset
		        }
		    }

		    function animate() {
		        imageFronts.forEach(function (frontImage) {
		            var dist = frontImage.yCenter - (window.pageYOffset - window.screen.height/2);

		            frontImage.element.style.transform = `translate3d(0, ${40 * Math.atan(dist / 200)}px, 0)`;
		        });
		        imageBacks.forEach(function (imageBack) {
		            var dist = imageBack.yCenter - window.pageYOffset;

		            imageBack.element.style.transform = `translate3d(0, ${40 * Math.atan(-dist / 200)}px, 0)`;
		        });
		    }
		</script>
	</body>
</html>
