<!DOCTYPE html>
<html lang="en" ng-app="scoryApp">
	{% load i18n static common_tags %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="">
		<link rel="apple-touch-icon" href="">
		<title>{% trans "Scory" %}</title>
		<!-- Bootstrap and Custom styles -->
		<link href="{% static 'scory_web_frontend/css/bootstrap3.min.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<link href="{% static 'scory_web_frontend/css/theme.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<link href="{% static 'scory_web_frontend/css/override-v3.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body ng-controller="CreateSurveyController" >
		
		<!-- Start Admin navbar -->
		<div ng-show="!surveyNavBar()" ng-include="'includes/admin_navbar'"></div>
		<!-- End Survey navbar -->
		<!-- Start Survey navbar -->
		<div ng-show="surveyNavBar()" ng-include="'includes/survey_navbar'"></div>
		<!-- End Survey navbar -->
		<!--Start Admin content-->
		<div ng-view></div>
		<!-- End Admin content -->

		<!-- Start modal new survey -->
		<script type="text/ng-template" id="modalFormSurvey.html">
				<div class="modal-header">
					<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="new-survey">{% trans "Crear encuesta" %}</h4>
				</div>
				<form ng-controller="FormSurveyController" name="formSurvey" id="id-form" novalidate>
					<div class="modal-body row">	
							<div class="col-md-12">
								<div class="form-group">
									<label>*{% trans "Nombre" %}</label>
									<input ng-model="survey.name" name="sName" type="text" class="form-control" placeholder="Ej: Servicio al cliente" required>
								</div>
								<div ng-show="submitted || formSurvey.sName.$touched">
							    	<p class="message-error" ng-show="formSurvey.sName.$error.required">{% trans "Introduzca el nombre de la encuesta" %}</p>
						    	</div>
							</div>	

							<div class="col-md-12">
								<div class="form-group">
									<label>*{% trans "Compañia" %}</label>
									  <select ng-model="survey.company"  name="sCompany" class="form-control"
									  			ng-options="company.name for company in models.lists.Companies"
									  			required>
									  		<option value="">{% trans "Seleccione" %}</option> 
									  </select>
								</div>
								<div ng-show="submitted || formSurvey.sCompany.$touched">
							    	<p class="message-error" ng-show="formSurvey.sCompany.$error.required">{% trans "Seleccione una compañia" %}</p>
						    	</div>
							</div>

							<div class="col-md-12">
								<div class="form-group">
									<label class="checkbox-inline">
										<input type="checkbox" ng-model="survey.required_time_expired">{% trans "Tiempo de expiración " %}<span class="icon-info text-primary" data-toggle="tooltip" data-placement="top" title="Permite terminar automáticamente una encuesta abandonada por el usuario en el tiempo que se indique" ng-model="survey.required_time_expired" name="sRequiredTime" tooltip></span>
									</label>
								</div>
							</div>

							<div class="col-md-12" ng-show="survey.required_time_expired" >
								<div class="form-group">
									<label>{% trans "Tiempo de expiración en minutos" %}</label>
									<input type="number" ng-model="survey.time_expired_minutes" name="sTimeExpired" class="form-control" rows="5" placeholder="5" required min="1"></input>
								</div>
								<div ng-show="submitted || formSurvey.sTimeExpired.$touched">
							    	<p class="message-error" ng-show="formSurvey.sTimeExpired.$error.required">{% trans "Introduzca el tiempo de expiración en minutos." %}</p>
						    	</div>
						    	<div ng-show="submitted || formSurvey.sTimeExpired.$touched">
							    	<p class="message-error" ng-show="formSurvey.sTimeExpired.$error.required || formSurvey.sTimeExpired.$error.min">{% trans "Introduzca un tiempo de expiración mayor o igual a un minuto" %}</p>
						    	</div>
							</div>
					</div>
					<div class="modal-footer">
						<div class="text-center" ng-show="progressOn">
							<progress-circle progress-circle-model="progressCircleData"
										        element-width=70 element-height=70
										        outer-circle-foreground-color = "#9B86F9"
										        label-color="#9B86F9"
										        outer-circle-radius = 20 inner-circle-radius = 5
										        percent-format = false
										        >
							</progress-circle>
						</div>
						<div ng-show="!progressOn">
							<button type="submit" class="btn btn-primary" ng-click="submit(survey);submitted=true">{% trans "Guardar y continuar" %}</button>
							<button ng-show="!progressOn" type="button" class="btn btn-default" ng-click="closeModal()">{% trans "Cancelar" %}</button>
						</div>
					</div>
				</form>
		</script>
		<script type="text/ng-template" id="messageSurvey.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title" ng-bind="titleMessage"></h3>
            </div>
            <div class="modal-body" id="modal-body" ng-bind="bodyMessage">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="closeMessage()">{% trans "Cerrar" %}</button>
            </div>
        </script>
		<!-- End modal new survey -->

		<!-- Share Survey -->
		<script type="text/ng-template" id="modalFormShare.html">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="share">{% trans "Compartir" %}</h4>
			</div>

			<div class="modal-body row">	
				
				<div class="col-md-12">
					<div class="form-group">
						<label><span class="icon-info text-primary" data-toggle="tooltip" data-placement="top" title=" {% trans 'Comparte esta URL para que las personas puedan realizar la encuesta' %}"></span>{% trans "URL de la encuesta en Messenger de Facebook" %}</label>

						<div class="input-group">
							<input id="url-messenger-code" type="text" class="form-control" 
								   ng-model="surveyShare.url_messenger" readonly>

							<span class="input-group-btn">
								<button type="button" class="btn btn-primary"
										ngclipboard data-clipboard-target="#url-messenger-code">
									{% trans "Copiar url" %}
								</button>
							</span>
						</div><!-- /input-group -->

						<a href="" ng-click="openMessenger(surveyShare)" class="p-t-5 display-inline-block">{% trans "Abrir en una pestaña nueva" %}</a>
					</div>

					<div class="form-group">
						<label><span class="icon-info text-primary" data-toggle="tooltip" data-placement="top" title=" {% trans 'Comparte esta imagen para que las personas puedan realizar la encuesta' %}"></span>{% trans "Código para escanear en Messenger de Facebook" %} </label>
						<br>
						<img ng-src="[[surveyShare.url_messenger_code]]" width="200" height="200"></img>
						<br>
						<a href="" ng-click="downloadCodeMessenger(surveyShare)" class="p-t-5 display-inline-block">{% trans "Descargar imagen" %}</a>
					</div>
				</div>	
			</div>
		</script>
		<!-- End modal share -->

		<!-- jQuery -->
		<script src="{% static 'scory_web_frontend/js/jquery.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/jquery-ui.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Bootstrap -->
		<script src="{% static 'scory_web_frontend/js/bootstrap.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular -->
		<script src="{% static 'scory_web_frontend/js/angular.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/angular-sanitize.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web/js/ui-bootstrap-tpls-2.5.0.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angu Complete-Alt -->
		<script src="{% static 'scory_web_frontend/js/angucomplete-alt.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Bootbox -->
		<script src="{% static 'scory_web_frontend/js/bootbox.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/ngBootbox.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular Route -->
		<script src="{% static 'scory_web_frontend/js/angular-route.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular Animate -->
		<script src="{% static 'scory_web_frontend/js/angular-animate.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Drag and Drop -->
		<script src="{% static 'scory_web_frontend/js/angular-dragdrop.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/angular-drag-and-drop-lists.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular ClipBoard -->
		<script src="{% static 'scory_web_frontend/js/clipboard.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/ngclipboard.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- App -->
		<script src="{% static 'scory_web_frontend/js/app/app.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_form_survey.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_create_survey.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_modal_instance_survey.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/app/interpolate_provider.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_admin_surveys.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_config_survey.js' %}?ver={% get_version_identifier %}"></script>
		<!--script src="{% static 'scory_web_frontend/js/lodash.js' %}?ver={% get_version_identifier %}"></script>-->
		<script src="{% static 'scory_web_frontend/js/lodash4.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/progress-circle.js' %}?ver={% get_version_identifier %}"></script>
	</body>
</html>
