<!DOCTYPE html>
<html lang="en" ng-app="appAcounts">
	{% load i18n static common_tags %}
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="">
		<link rel="apple-touch-icon" href="">
		<title>User Account</title>
		<!-- Bootstrap and Custom styles -->
		<link href="{% static 'scory_web_frontend/css/bootstrap.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
		<link href="{% static 'scory_web_frontend/css/theme.css' %}?ver={% get_version_identifier %}" rel="stylesheet">
	</head>

	<body ng-controller="SessionController">
		<!-- Start Admin content -->
		<div ng-view></div>
		<!-- End Admin content -->

		<script type="text/ng-template" id="message.html">
            <div class="modal-header">
                <h3 class="modal-title" id="modal-title" ng-bind="titleMessage"></h3>
            </div>
            <div class="modal-body" id="modal-body" ng-bind="bodyMessage">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="closeMessage()">{% trans "Cerrar" %}</button>
            </div>
        </script>

		<!-- jQuery -->
		<script src="{% static 'scory_web_frontend/js/jquery.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Bootstrap -->
		<script src="{% static 'scory_web_frontend/js/bootstrap.min.js' %}?ver={% get_version_identifier %}"></script>	
		<!-- Angular -->
		<script src="{% static 'scory_web_frontend/js/angular.min.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web/js/ui-bootstrap-tpls-2.5.0.min.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Bootbox -->
		<script src="{% static 'scory_web_frontend/js/bootbox.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/ngBootbox.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular Route -->
		<script src="{% static 'scory_web_frontend/js/angular-route.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Angular Animate -->
		<script src="{% static 'scory_web_frontend/js/angular-animate.js' %}?ver={% get_version_identifier %}"></script>
		<!-- App -->
		<script src="{% static 'scory_web_frontend/js/app/app-acounts.js' %}?ver={% get_version_identifier %}"></script>
		<!-- Controllers -->
		<script src="{% static 'scory_web_frontend/js/controller/controller_session.js' %}?ver={% get_version_identifier %}"></script>
		<script src="{% static 'scory_web_frontend/js/controller/controller_modal_instance.js' %}?ver={% get_version_identifier %}"></script>	
	</body>
</html>