{% load i18n common_tags %}
<!-- Start Credentials sidebar -->
<div ng-include="'includes/admin_credentials_sidebar'"></div>
<!-- End Credentials sidebar -->

<div class="right-credentials-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-offset-1">
				<a href="#"> <!-- Link al sitio web / Quitar comentario en producción -->
					<img alt="Scory" title="Scory" src="img/scory-brand.svg" width="195" class="hide-sm">
				</a>

				<h2>{% trans "Ingresa tu código" %}</h2>
				<p>{% trans "El código enviado a " %}<span class="text-primary">j**n@scorybot.com</span>{% trans " tiene 4 números los cuáles debes ingresarlos en los campos de más abajo para poder entrar." %}</p>
				<form class="m-t-40">
					<div class="form-group">
						<label for="email">{% trans "Código" %}</label>
						<input type="email" class="form-control" id="email" placeholder="Ej: 2017" disabled>
					</div>

					<button type="submit" class="btn btn-primary btn-block" disabled>{% trans "Ingresar código" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>