{% load i18n common_tags %}
<!-- Start Credentials sidebar -->
<div ng-include="'includes/admin_credentials_sidebar'"></div>
<!-- End Credentials sidebar -->

<div class="right-credentials-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-offset-1">
				<a href="#"> <!-- Link al sitio web / Quitar comentario en producción -->
					<img alt="Scory" title="Scory" src="img/scory-brand.svg" width="195" class="hide-sm">
				</a>

				<h2>{% trans "Recuperar contraseña" %}</h2>
				<p>{% trans "No te preocupes, sólo introduce la dirección de correo electrónico que has registrado y te enviaremos un código para restablecer la contraseña." %}</p>
				<form class="m-t-40">
					<div class="form-group">
						<label for="email">{% trans "Correo electrónico" %}</label>
						<input type="email" class="form-control" id="email" placeholder="Ej:juan@scorybot.com" disabled>
					</div>

					<button type="submit" class="btn btn-primary btn-block" disabled>{% trans "Recibir código" %}</button>
				</form>

				<div class="text-center m-t-10">
					<p><a href="#!/admin_login">{% trans "Regresar al inicio de sesión." %}</a></p>
				</div>
			</div>
		</div>
	</div>
</div>