{% load i18n common_tags %}
<!-- Start Credentials sidebar -->
<div ng-include="'includes/admin_credentials_sidebar'"></div>
<!-- End Credentials sidebar -->

<div class="right-credentials-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-offset-1">
				<a href="#"> <!-- Link al sitio web / Quitar comentario en producción -->
					<img alt="Scory" title="Scory" src="img/scory-brand.svg" width="195" class="hide-sm">
				</a>

				<h2>{% trans "Genera tu contraseña" %}</h2>
				<p>{% trans "Estás listo para generar una nueva contraseña." %}</p>
				<form class="m-t-40">
					<div class="form-group">
						<label for="contrasena">{% trans "Contraseña" %}</label>
						<input type="password" class="form-control" id="contrasena" placeholder="" disabled>
					</div>
					<div class="form-group">
						<label for="confirmar-contrasena">{% trans "Confirmar contraseña" %}</label>
						<input type="password" class="form-control" id="confirmar-contrasena" placeholder="" disabled>
					</div>

					<button type="submit" class="btn btn-primary btn-block" disabled>{% trans "Entrar y usar contraseña nueva" %}</button>
				</form>
			</div>
		</div>
	</div>
</div>