{% load i18n static common_tags %}
<!-- Start Credentials sidebar -->
<div ng-include="'includes/admin_credentials_sidebar'"></div>
<!-- End Credentials sidebar -->

<div class="right-credentials-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-offset-1">
				<a href="#"> <!-- Link al sitio web / Quitar comentario en producción -->
					<img alt="Scory" title="Scory" src="{% static  'scory_web/img/scory-brand.svg' %}" width="195" class="hide-sm">
				</a>

				<h2>{% trans "Ingresar" %}</h2>
				<form class="m-t-40">
					<div class="form-group">
						<label>*{% trans "Usuario" %}</label>
						<input ng-model="user.username" name="uUsername" type="text" class="form-control" placeholder="{% trans 'Usuario' %}" required/>
						<!--<label for="email">Usuario</label>
						<input type="email" class="form-control" id="email" placeholder="Ej:juan@scorybot.com">-->
					</div>
					<div class="form-group">
						<!--<label for="contrasena">Contraseña</label>
						<input type="password" class="form-control" id="contrasena" placeholder="">-->
						<label>*{% trans "Contraseña" %}</label>
						<input ng-model="user.password" name="uPassword" type="password" class="form-control" placeholder="{% trans 'Contraseña' %}" required>
						<!--<a href="#!/admin_recover_password">
							<small>{% trans "Recuperar contraseña" %}</small>
						</a>-->
					</div>
					<button type="submit" class="btn btn-primary btn-block" ng-click="submitSession(user);submitted=true">{% trans "Entrar" %}</button>
				</form>

				<!--<div class="text-center m-t-10">
					<p>{% trans "¿No tienes una cuenta?" %} <a href="#!/admin_register">{% trans "Regístrate acá." %}</a></p>
				</div>-->

				<div class="m-t-20 text-center m-r-l-auto">
					<img src="{% static  'scory_web/img/separator.svg' %}" class="img-responsive m-r-l-auto">
				</div>

				<!--<div class="row m-t-20">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-block btn-outline btn-facebook m-b-10"><span class="icon-facebook"></span> Facebook</button>
					</div>

					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-block btn-outline btn-google m-b-10"><span class="icon-google-plus3"></span> Google</button>
					</div>
				</div>

				<div class="row m-t-10">
					<div class="col-md-12 text-center">
						<p>{% trans "Entra con tus redes sociales favoritas." %}</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>