{% load i18n common_tags %}
<!-- Start Credentials sidebar -->
<div ng-include="'includes/admin_credentials_sidebar'"></div>
<!-- End Credentials sidebar -->

<div class="right-credentials-box">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8 col-sm-offset-1">
				<a href="#"> <!-- Link al sitio web / Quitar comentario en producción -->
					<img alt="Scory" title="Scory" src="img/scory-brand.svg" width="195" class="hide-sm">
				</a>

				<h2>{% trans "Registrarse" %}</h2>
				<form class="m-t-40">
					<div class="form-group">
						<label for="email">{% trans "Correo electrónico" %}</label>
						<input type="email" class="form-control" id="email" placeholder="Ej:juan@scorybot.com" disabled>
					</div>
					<div class="form-group">
						<label for="contrasena">{% trans "Contraseña" %}</label>
						<input type="password" class="form-control" id="contrasena" placeholder="" disabled>
					</div>
					<div class="form-group">
						<label for="confirmar-contrasena">{% trans "Confirmar contraseña" %}</label>
						<input type="password" class="form-control" id="confirmar-contrasena" placeholder="" disabled>
					</div>
					<button type="submit" class="btn btn-primary btn-block" disabled>{% trans "Registrarse" %}</button>
				</form>

				<div class="text-center m-t-10">
					<p>{% trans "¿Ya tienes una cuenta? " %}<a href="#!/admin_login">{% trans "Ingresa acá." %}</a></p>
				</div>

				<div class="m-t-20 text-center m-r-l-auto">
					<img src="img/separator.svg" class="img-responsive m-r-l-auto">
				</div>

				<!--<div class="row m-t-20">
					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-block btn-outline btn-facebook m-b-10"><span class="icon-facebook"></span> Facebook</button>
					</div>

					<div class="col-md-6">
						<button type="submit" class="btn btn-primary btn-block btn-outline btn-google m-b-10"><span class="icon-google-plus3"></span> Google</button>
					</div>
				</div>

				<div class="row m-t-10">
					<div class="col-md-12 text-center">
						<p>Regístrate con tus redes sociales favoritas.</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div>