html,body{margin:0;padding:0;width:100%;height:100%;font-family:Trebuchet MS,verdana,arial}

#mapa{width:70%;height:100%;float:right}

#texto{width:25%;height:100%;float:left;vertical-align:middle;padding:2%}

#texto input.navi{font-size:18px;width:90%;height:30px;margin-bottom:10px}

h3{font-weight:300;font-size:20px;color:#666}

p{font-weight:bold;color:#333}

#address{height: 30px}

.button_find{margin-top:10px;font-size:12px;height:44px;width:308px;background:#79aec8;padding:10px 15px;border:none;border-radius:4px;color:#fff;cursor: pointer}

#id_lat{color:#5E8FE5;}

#id_lng{color:#1857C6;}

#id_direccion{color:#0F387E}

.button_save{font-size:14px;height:44px;width:320px;background:#79aec8;padding:10px 15px;border:none;border-radius:4px;color:#fff;cursor:pointer;}