/*CSS PERSONALIZE DEVELOPERS*/
.padding-start{
	padding-left: 14px;
	padding-right: 14px;
}

.cursor {
	cursor : pointer;
}

.margin-emoji{
  margin-left: 20px;
}
.position-number {
  width: 26px;
  height: 26px;
  color: #fff;
  font-size: 14px;
  padding-top: 2px;
  font-weight: bold;
  background: #9B86F9;
  border-radius: 100px;
  position: absolute;
  top: -13px;
  left: -13px; }

.position-actions {
  position: absolute;
  top: 12px;
  right: 45px; }

div.listQuestion .actions{
  visibility: hidden;
  cursor: pointer;
}

div.listQuestion:hover .actions{
  visibility: visible;
}

.delete-option-answer{
  visibility: hidden;
  cursor: pointer;
}

div.option-answer:hover .delete-option-answer{
  visibility: visible;
}

/*Form Survey*/
p.message-error{
  color:red;
}

/*DRAG AND DROP*/

div[dnd-list] .dndDraggingSource {
  display: none;
}

.div-drop{
  height: 150px;
}
div[dnd-list] .dndPlaceholder {
  display: block;
  background: #F2F6F7;
  border: 1px dashed #D3DAE2;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height:80px;
  width: 100%; 
}

div .listQuestion {
  width: 100%;
}

.fade{
  opacity: 1;
}


.position-number {
  width: 26px;
  height: 26px;
  color: #fff;
  font-size: 14px;
  padding-top: 2px;
  font-weight: bold;
  background: #9B86F9;
  border-radius: 100px;
  position: absolute;
  top: -13px;
  left: -13px; }

.position-letter {
  margin-right: 10px;
  padding-top: 20px;
  display: inline-block; }

.drop-empty-box {
  width: 100%;
  height: 83px;
  background: #F2F6F7;
  border: 1px dashed #D3DAE2;
  border-radius: 3px;
  margin-bottom: 20px; }

.cursor-move {
  cursor: move; }

.emoji-dropdown {
  min-width: 212px !important; }

.emoji-dropdown li {
  float: left; }

.emoji-dropdown li a {
  width: 31px;
  height: 31px;
  margin: 2px;
  padding: 2px 0;
  text-align: center;
  border-radius: 3px; }

.scroll-modal-preview {
  height: 380px;
  overflow-y: auto;
}

.margin-list {
  margin-top: 15px;
}

.list-margin-bottom{
  padding: 15px 30px;
  margin-bottom: 20px;
  position: relative;
  border: 0px;
}
