body, html {
  height: 100%;
}

body {
  font-family: 'Rubik', sans-serif!important;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background-color: #7863D5;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

.header-logo-home {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.header-logo-survey {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: left;
}

.white-heading-home {
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 32px;
}

.white-heading-survey {
  font-size: 25px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 32px;
}

.form-white-box {
  background: #FFFFFF;
  box-shadow: 0 44px 58px 0 rgba(0,0,0,0.16);
  border-radius: 11px;
  padding: 30px 47px;
  margin-top: 30px;
}

.border-bottom {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0;
}

.left-container {
  width: 38%;
  float: left;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

.survey-option-box h3 {
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  padding-top: 2px;
}

.badge-options {
  width: 28px;
  height: 28px;
  padding: 0 10px;
  text-align: center;
  line-height: 28px;
  font-weight: 500;
  color: #7863D5;
  background: #E1DEEC;
  border-radius: 7px;
  float: left;
}

.survey-option-box .progress {
  background-color: #6754BA;
  border-radius: 100px;
  margin: 15px 0;
}

.survey-option-box .progress-bar {
  background-color: #EFEDF7;
}

.right-container footer {
  width: 100%;
  display: block;
  clear: both;
}

.right-container {
  width: 62%;
  float: right;
  background: #fff;
}

.right-container h2 {
  font-size: 25px;
  font-weight: 400;
  color: #4C4A52;
  clear: both;
  display: block;
  padding-top: 60px;
}

.right-container .table {
  font-size: 14px;
}

.right-container .table td {
  vertical-align: middle;
}

.inner-count {
  position: relative;
}

.count-down-character {
  position: absolute;
  font-size: 20px;
  color: #4C4A52;
  right: 2px;
  top: 2px;
  background: #fff;
  padding: 5px 10px;
}

.hide-mobile {
  display: none;
}

@media (max-width: 767px) {
  .left-container {
    width: 100%;
    float: none;
    height: auto;
    position: relative;
  }

  .right-container {
    width: 100%;
    float: none;
  }

  .right-container h2 {
    padding-top: 20px;
  }

  .header-logo-survey {
    text-align: center;
  }

  .hide-desktop {
    display: none;
  }

  .hide-mobile {
    display: block;
  }

}
