<div class="modal-header">
  <h4 class="modal-title">Comparte esta pregunta </h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <h4>{{question}}</h4>
    <ol>
      <li *ngFor="let item of options;let indice=index">{{item.name}}</li>
    </ol>
    <ul>
      <li><a id="linkShareFacebook" [href]="urlShareFacebook" target="_blank" rel="noopener noreferrer" 
        style="text-decoration:none">
        <i class="fab fa-facebook"></i> Compartir en Facebook</a>
      </li>
      <li><a id="linkShareTwitter" href="{{urlShareTwitter}}" target="_blank" rel="noopener noreferrer" 
        style="text-decoration:none">
        <i class="fab fa-twitter"></i> Compartir en Twitter</a></li>
      <li><a id="linkShareWhatsapp" href="{{urlShareWhatsapp}}" target="_blank" rel="noopener noreferrer" 
        style="text-decoration:none" title="compartir en whatsapp">
        <i class="fab fa-whatsapp"></i> Compartir en Whatsapp</a></li>
      <li><a id="linkCopy" href="#" ngxClipboard (click)="onClickCopyLink($event)"
        [cbContent]="urlMessenger" (cbOnSuccess)="updateCopyMessage()"><i class="fas fa-link"></i> {{copyMessage}}</a></li>
    </ul>
</div>
<div class="modal-footer">
    <button id="btnModalShowResult" type="button" class="btn btn-primary btn-block"
    (click)="activeModal.close('Ver Resultados');">
    Ver Resultados
  </button>
</div>
