
<div class="purple-background left-container">
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "ball-atom">
  </ngx-spinner>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md">
        <div class="header-logo-survey">
          <img src="/static/assets/img/scory-vertical-brand.svg" width="180">
        </div>

        <div class="hide-mobile">
          <button type="button" id="btnCreateNewSurveyMobile" class="btn btn-light btn-block btn-sm mb-3"
            (click)="redirectCreateSurvey()">
            Crear una encuesta gratis
          </button>
          <hr>
        </div>
        <div class="survey-link">
          <p class="text-white">Comparte tu encuesta con tus amigos para que la respondan.</p>
          <div class="text-center" style="margin-bottom: 16px;">
            <button id="btnOpenShareModal" class= "btn btn-success btn-block" (click)="openShareModal()"> Compartir Encuesta</button>
          </div>
          <!-- <div class="input-group input-group-sm">
            <input type="text" class="form-control" disabled [value]=urlMessenger>
            <div class="input-group-append">
              <button class="btn btn-light" type="button"
                ngxClipboard [cbContent]="urlMsgbot"
                (cbOnSuccess)="updateCopyMessage()">
                {{copyMessage}}
              </button>
            </div>
          </div> -->
        </div>

        <hr>

        <h2 class="white-heading-survey">
          {{question}}
        </h2>

        <div *ngFor="let item of options;let indice=index" class="survey-option-box mt-3 mb-3">
          <div class="badge-options mr-2">{{indice+1}}</div>
          <h3>{{item.name}}</h3>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{width: item.avg + '%'}"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p class="text-white">{{item.avg}}% ({{item.count | i18nPlural: messagePlural['answer']}})</p>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="right-container">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" id="btnCreateNewSurveyDesktop"
          class="btn btn-primary btn-lg mt-4 float-sm-right hide-desktop"
          (click)="redirectCreateSurvey()">
          Crear encuesta gratis
        </button>
        <h2>{{listAnswer.length | i18nPlural: messagePlural['result']}}</h2>
        <b> Copia, guarda y comparte esta url para que puedas acceder cuando quieras a esta pagina de resultados </b>
        <p class="text-secondary">{{urlResult}}</p>
        <hr>

        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Respuesta</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of listAnswer">
                <td>
                  <img [src]="sanitizerBase64Img(item.client__picture)" width="32"
                    class="rounded-circle">	
                    {{item.client__first_name}} {{item.client__last_name}}
                </td>
                <td>{{item.created_at | date:'dd/M/yy h:mm:ss a z'}}</td>
                <td *ngIf="item.answer !== ''">{{item.answer}}</td>
                <td *ngIf="item.answer === ''">sin respuesta</td>
              </tr>
            </tbody>
          </table>
        </div>

        <footer>
          <hr>
          <div class="social-footer text-center m-3">
            <a href="https://www.facebook.com/scorybot" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
              <img src="/static/assets/img/icn-facebook.svg">  
              &nbsp;
            </a>
            <a href="https://instagram.com/scorybot" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
              <img src="/static/assets/img/icn-instagram.svg">
              &nbsp;
            </a>
            <a href="https://twitter.com/scorybot" target="_blank" rel="noopener noreferrer" style="text-decoration:none">
              <img src="/static/assets/img/icn-twitter.svg">
              &nbsp;
            </a>
          </div>

          <div class="credits-footer survey-section text-center pb-3">
            <small>Scory © 2019 Todos los derechos reservados</small>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>