{% load i18n static common_tags %}
<div class="left-credentials-box hide-xs">
	<div class="text-center">
		<a href="index"> <!-- Link al sitio web / Quitar comentario en producción -->
			<img alt="Scory" title="Scory" src="{% static  'scory_web/img/scory-brand-secondary.svg' %}" width="195">
		</a>
		<h2>{% trans "Obtén feedback al instante" %}.</h2>
		<h4>{% trans "Recopila respuestas de tu audiencia a través de Facebook messenger" %}.</h4>
	</div>
</div>