{% load i18n common_tags %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#admin-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="user_index#!/admin_dashboard">
				<img alt="Scory" title="Scory" src="/static/scory_web_frontend/img/scory-brand.svg" width="102">
			</a>
		</div> <!-- /.navbar-header -->

		<div class="collapse navbar-collapse text-center-xs" id="admin-navbar">
			<ul class="nav navbar-nav">
				<!--<li ng-class="{active: activeTab == 'dashboard'}">
					<a href="user_index#!/admin_dashboard">
						<span class="icon-stats-dots"></span>
						{% trans "Dashboard" %}
					</a>
				</li>-->
				<li ng-class="{active: activeTab == 'adminSurveys'}">
					<a href="user_index#!/admin_surveys">
						<span class="icon-files-empty"></span>
						{% trans "Encuestas" %}
					</a>
				</li>
				<li ng-class="{active: activeTab == 'configuration'}">
					<a href="user_index#!/admin_configuration">
						<span class="icon-cog"></span>
						{% trans "Configuración" %}
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#"></a></li>

				<li class="dropdown"> 
					<a href="" class="dropdown-toggle" id="avatar-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style=" padding-top: 8px!important;padding-bottom: 0!important;"><img src="/static/scory_web_frontend/img/image-perfil.png" class="img-circle"> {{ request.user.first_name }} {{ request.user.last_name }} <span class="caret"></span>
					</a> 
					<ul class="dropdown-menu" aria-labelledby="avatar-profile"> 
						<li>
							<a href="{% url 'logout' %}">{% trans "Cerrar sesión" %}</a>
						</li> 
					</ul> 
				</li> 
				{% if request.user.is_staff %}
				<li>
					<button class="btn btn-primary navbar-btn" ng-click="openModalForm()"><span class="icon-plus"></span> {% trans "Crear encuesta" %}</button>
				</li>
				{% endif %}
			</ul>
		</div> <!-- .collapse .navbar-collapse .text-center-xs -->
	</div> <!-- /.container-fluid -->
</nav> <!-- /.navbar .navbar-default -->



<ul class="nav navbar-nav navbar-right"> 

</ul>