{% load i18n common_tags %}
<div class="left-box pull-left">
	<h5 class="text-center">{% trans "Tipos de preguntas" %}</h5>

	<div class="p-all-20">

		<div dnd-list="models.lists.Types" 
		     	dnd-allowed-types="[]">

		        <a class="btn btn-default btn-block text-left cursor-move btn-draggable"
		        	 	ng-repeat="item in models.lists.Types"
		             	dnd-draggable="item"		             	
			            dnd-type="'itemA'"
	                    dnd-effect-allowed="all"
	                    dnd-copied="models.lists.Types.splice($index, 1)">

		         	<span ng-if="item.type.name == 'location'" class="icon-location2"></span>
		         	<span ng-if="item.type.name == 'text'" class="icon-pencil2"></span> 
		         	<span ng-if="item.type.name == 'multi_option'" class="icon-list2"></span>  
		          	[[item.type.label]]
		        </a>

      	</div>
	</div> <!-- /.p-all-20 -->
</div> <!-- /.left-box .pull-left --> 
