{% load i18n common_tags %}
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a href="user_index#!/admin_surveys" class="back-button-top text-center">
				<span class="icon-arrow-left2"></span>
			</a>

			<a class="navbar-brand m-l-60" href="user_index#!/admin_dashboard">
				<img alt="Scory" title="Scory" src="/static/scory_web_frontend/img/scory-brand.svg" width="102">
			</a>
		</div>

		<div ng-controller="AdminSurveysController" class="collapse navbar-collapse text-center-xs" id="main-navbar">
			<ul class="nav navbar-nav">
				<!-- Add <li class="active"> on active page -->
				<li ng-class="{active: activeTab == 'editSurvey'}">
					<a href="" ng-click="editSurvey([[surveyCurrent]])">
						<span class="icon-pencil"></span>
						{% trans "Editar" %}
					</a>
				</li>
				<li ng-class="{active: activeTab == 'configSurvey'}">
					<a href="" ng-click="configSurvey([[surveyCurrent]])">
						<span class="icon-cogs"></span>
						{% trans "Configurar" %}
					</a>
				</li>
				<li ng-class="{active: activeTab == 'analize'}">
					<a href="#">
					<span class="icon-stats-bars"></span>
					{% trans "Analizar" %}
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown"> 
					<a href="" class="dropdown-toggle" id="avatar-profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style=" padding-top: 8px!important;padding-bottom: 0!important;"><img src="/static/scory_web_frontend/img/image-perfil.png" class="img-circle">{{ request.user.first_name }} {{ request.user.last_name }}<span class="caret"></span>
					</a> 
					<ul class="dropdown-menu" aria-labelledby="avatar-profile"> 
						<li>
							<a href="{% url 'logout' %}">{% trans "Cerrar sesión" %}</a>
						</li> 
					</ul> 
				</li>
			</ul>
		</div>
	</div>
</nav>