<div class="purple-background full-width-height">
  <ngx-spinner
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "default"
    color = "#fff"
    type = "ball-atom">
  </ngx-spinner>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="header-logo-home">
          <img src="/static/assets/img/scory-vertical-brand.svg">
        </div>

        <h2 class="white-heading-home">
          Crea una encuesta gratis para que tus amigos la respondan en Messenger de Facebook
        </h2>
        <div class="form-white-box">
          <form [formGroup]="surveyForm" (ngSubmit)="createSurvey(surveyForm.value)">
            <div *ngIf="(surveyForm.get('question').hasError('required') ||
            surveyForm.get('optionAnswer1').hasError('required') ||
            surveyForm.get('optionAnswer1').hasError('required')) && isChecking"
              class="alert alert-danger">Debes llenar todos los campos.</div>
            <div *ngIf="(surveyForm.get('question').hasError('minlength')) && isChecking"
              class="alert alert-danger">La pregunta debe ser mayor a 5 caracteres</div>
            <div class="form-group">
              <textarea class="form-control form-control-lg" 
              placeholder="Haz una pregunta" rows="2" formControlName="question">
              </textarea>
            </div>

            <div class="form-group inner-count">
              <input type="text" class="form-control form-control-lg" placeholder="Opción 1"
              formControlName="optionAnswer1" [minlength]="1" [maxlength]="50" (keyup)="countDownCharOpt1($event)">
              <p class="count-down-character">{{countCharsOpt1}}</p>
            </div>

            <div class="form-group inner-count">
              <input type="text" class="form-control form-control-lg" placeholder="Opción 2"
              formControlName="optionAnswer2" [minlength]="1" [maxlength]="50" (keyup)="countDownCharOpt2($event)">
              <p class="count-down-character">{{countCharsOpt2}}</p>
            </div>

            <div class="form-group">
              <button id="btnCreateSurvey" type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="btDisabled">
                Crear encuesta
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="social-footer text-center m-3">
      <a href="https://www.facebook.com/scorybot" target="_blank" style="text-decoration:none">
        <img src="/static/assets/img/icn-facebook.svg">
        &nbsp;
      </a>
      <a href="https://instagram.com/scorybot" target="_blank" style="text-decoration:none">
        <img src="/static/assets/img/icn-instagram.svg">
        &nbsp;
      </a>
      <a href="https://twitter.com/scorybot" target="_blank" style="text-decoration:none">
        <img src="/static/assets/img/icn-twitter.svg">
      </a>
    </div>
    <div class="credits-footer survey-section text-center pb-3">
      <small class="text-white">Scory © 2019 Todos los derechos reservados</small>
    </div>
  </footer>
</div>